body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.cat-image-container {
    margin-top: 20px;
}

#catImage {
    max-width: 100%;
    height: auto;
    display: none;
}
